*{
    margin: 0;
    padding: 0;
}

 /* body
{
     background-image: url(./assets/image.webp);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
} */

/*external css */
/* h1{
    background-color: blueviolet;
    color: brown;
}

.second{
    background-color: cadetblue;
    color: darkblue;
}

#third{
    background-color: darkgoldenrod;
    color: darkgreen;
}


h4{
    color:rgba(103, 103, 235, 0.245);
} */

/* .img
{
    width: 300px;
    height: 300px;
}  */ 

.container
{
    width: 200px;
    height: 200px;
    background-image: url(./assets/image.webp);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
}
   
#span{
 
    border: 10px double red;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    box-shadow: 15px 15px 15px 15px rgba(48, 4, 241, 0.247);
}